body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    color: #64ffda;
	padding-top: 60px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.highlight {
    font-weight: bold;
    color: #389df5; /* Change this to your desired color */
}
header {
    background-color: #0a192f;
    width: 100%;
    text-align: center;
    padding: 2em 0;
}

.typewriter-container{
	display: flex;
	justify-content: center;
}

.about-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:50px;
}

.about-image{
	max-width: 200px;
	border-radius: 50%;
}

.about-container{
	flex: 1;
	text-align: left;
}

/* Digital Clock Styles */
.digital-clock {
    font-family: 'Quicksand', calibri;
    color: #9c814f;
    font-size: 48px;
    text-align: center;
    margin-top: 40px;
}
	
header h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #17a2b8;
    margin: 0;
	display: inline-block;
}

nav {
    background-color: #0a192f;
    width: 100%;
    padding: 1em 0;
    text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #f5f3f2;
    font-weight: bold;
}

section {
    padding: 2em;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

section h2 {
    font-size: 2em;
    color: #ccd6f6;
    margin-bottom: 0.5em;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
}

footer {
    background-color: #0a192f;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer p {
    margin: 0;
    color: #d2691e;
}

#projects div {
    background-color: #0a192f;
    border: 3px solid #183969;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
	text-align: left;
}

#projects h3 {
    margin-top: 0;
	text-align: center;
	color: #db9353;

}

#projects a {
    color: ;
    text-decoration: none;
    font-weight: 500;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}



#typewriter {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #c4ffdf;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    width: 0;
    animation: typing 5s steps(40, end) forwards, blink .75s step-end infinite;
}

.contact-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 1em;
}

.contact-icons a {
	color: #bad9ad;
	font-size: 1.5em;
	transition: color 0.3s;
}

.contact-icons a:hover {
	color: #86cc68;
}

.project-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
	gap: 20px;
}

.project-text {
    flex: 1;
	text-align: left;
}

.project-image img {
    max-width: 200px; /* Adjust the size as needed */

    border-radius: 6px; /* Optional: Add rounded corners */
}

.project-container h3 {
    margin-top: 0;
}

.project-container p {
    margin: 10px 0;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.skills-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill {
    display: flex;
    align-items: center;
    width: 70%;	
}

.skill span {
    flex: 1;
    margin-right: 10px;
    text-align: left; /* Align text to the left */
	color: #b9edcb;
}

.progress-bar-container {
    flex: 3;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 15px; /* Adjust the height of the progress bar */
}

.progress-bar {
    height: 100%;
    background-color: #1f5e34; /* Change this color as needed */
}
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.project-text {
    padding: 20px;
}

.project-image img {
    width: 100%;
    height: auto;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
